*.aux
*.blg
*.cb
*.cb2
*.log
*.dvi
*.out
*.tcp
*.ps
*.Rhistory
*.xls
*.xlsx
*.pyc
*.DS_Store
*.Rapp.history
*.lb
*.fdb_latexmk
*.bib.bak
*.lb
*.DS_Store
*.Rapp.history
*.toc
*.snm
*.nav
*.fls
*.synctex.gz
