<style>
  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
  .col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }
  .column-left{
    float: left;
    width: 33%;
    text-align: left;
  }
  .column-center{
    display: inline-block;
    width: 33%;
    text-align: left;
  }
  .column-right{
    float: right;
    width: 33%;
    text-align: left;
  }
  .column-leftHalf{
    float: left;
    width: 50%;
    text-align: left;
  }
  .column-rightHalf{
    float: right;
    width: 50%;
    text-align: right;
  }  
</style>
